{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 150,
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "vueIndentScriptAndStyle": true,
  "rangeStart": 0,
  "requirePragma": false,
  "insertPragma": false,
  "overrides": [{ "files": "*.json", "options": { "printWidth": 200 } }]
}
